<div class="row">
<div class="col-md-6">
<%= simple_form_for @article, url: admin_articles_path,  :html => { :multipart => true } do |f| %>
<%= f.input :title %>
<%= f.input :description, as: :text %>
<%= f.input :picture, as: :file, multiple: true %>
<%= f.button :submit %>
<% end %>
</div>
